/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#ffff;
	--color-details: #8ca89c;
}

@font-face {
	font-family: 'hind, sans-serif';
	src: url(https://fonts.gstatic.com/s/hind/v16/5aU69_a8oxmIdGl4BDGwgDI.woff2) format('woff2');
}

body {
	background-color: var(--color-background);
	font-family: Arial, Helvetica, sans-serif;
}

header nav section:last-of-type img:first-of-type {
	width:1em;
}

header nav section:nth-of-type(1) img:nth-of-type(2) {
	width:1em;
}

header nav section:nth-of-type(1) img:nth-of-type(3) {
	width:1em;
}

header nav section:nth-of-type(1) img:nth-of-type(4) {
	width:1em;
}

header nav:first-of-type section:nth-of-type(1) {
	display: flex;
	justify-content: space-around;
	padding-top: 0.5em;
}

header section:last-of-type img {
	width: 8em;
	padding-bottom: 1em;
	display: flex;
	justify-content: center;
}

/* bron hr: https://www.w3schools.com/howto/howto_css_style_hr.asp */
hr {
	border-top: solid #f0f0f0 0.1em;
}

/* menu */
header nav:last-of-type {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	background-color: rgba(0, 0, 0, 0.4);
	left: -110em;
	transition: .5s;
}

header nav:last-of-type > section:first-of-type {
	width: 60vw;
	height: 100vh;
	padding: 1em;
	background-color: var(--color-background);
}

/* menu binnenkant */
header nav:last-of-type ul {
	list-style: none;
}

header nav:last-of-type a {
	display: block;
	padding: .5em;
	color: inherit;
	text-decoration: none;
}

header nav:last-of-type.zichtbaar {
	left: 0;
	transition: .5s;
}

body.zichtbaar {
	overflow-y: hidden;
}

/* talen */
header nav:last-of-type section section {
    display: flex;
    justify-content: right;
}

/* menu sluiten */
header nav:last-of-type > section:last-of-type {
	position: fixed;
	display: flex;
	justify-content: right;
}

main > section:first-of-type img {
	width: 100%;
	padding-bottom: 1em;
}

main > section:nth-of-type(2) p {
	font-size: 1.5em;
	display: flex;
    justify-content: center;
	text-transform: uppercase;
}

main > section:nth-of-type(3) p {
	font-size: 1em;
	display: flex;
    justify-content: center;
	text-transform: uppercase;
}

h1 {
	font-family: hind, sans-serif;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */