/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#111;
      --color-background:#ffffff;
      --color-details: #8ca89c;
      --color-headings: #191919;
      --color-paragraph: #777777;
      --color-footerli: #888888;
      --color-footerbackground: #F7F8FA;
      --color-filterbutton: #498068;
  }

      /* halloween thema */
.alt-theme {
    --color-primary: orange;
    --color-theme: black;
    --color-txt: white;
}
  
  @font-face {
      font-family: 'hind';
      src: url('../fonts/Hind-Regular.ttf') format('ttf');
      font-weight: 400;
  }
  
  @font-face {
      font-family: 'hind';
      src: url('../fonts/Hind-Bold.ttf') format('ttf');
      font-weight: 700;
  }

  header nav {
    background-color: var(--color-primary);
  }

  /* header buttons */
  header nav section:last-of-type img:first-of-type {
      width:1em;
  }
  
  header nav section:nth-of-type(1) img:nth-of-type(2) {
      width:1em;
  }
  
  header nav section:nth-of-type(1) img:nth-of-type(3) {
      width:1em;
  }
  
  header nav section:nth-of-type(1) img:nth-of-type(4) {
      width:1em;
  }
  
  header nav:first-of-type section:nth-of-type(1) {
      display: flex;
      justify-content: space-around;
      padding-top: 0.5em;
  }
  
  /* menu */
  header nav:last-of-type {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      background-color: rgba(0, 0, 0, 0.4);
      left: -110em;
      transition: .5s;
  }
  
  header nav:last-of-type > section:first-of-type {
      width: 80vw;
      height: 100vh;
      padding: 1em;
      background-color: var(--color-background);
  }
  
  /* menu binnenkant */
  header nav:last-of-type ul {
      list-style: none;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'hind', sans-serif;
      padding-top: 1em;
      padding-left: 0.5em;
      font-weight: 500;
      line-height: 1.8em;
      color: var(--color-primary);
  }
  
  header nav:last-of-type a {
      display: block;
      padding: .5em;
      color: inherit;
      text-decoration: none;
  }
  
  header nav:last-of-type.zichtbaar {
      left: 0;
      transition: .5s;
  }
  
  body.zichtbaar {
      overflow-y: hidden;
  }

  /* menu binnenkant: sluiten */
  header p:last-of-type {
      font-size: 14px;
      font-family: 'hind', sans-serif;
      color: var(--color-paragraph);
      padding-left: 1em;
  }

  header button {
    width: 20px;
    border: none;
    background-color: white;
    color: var(--color-paragraph);
    padding-left: 2.2em;
    padding-top: 1em;
  }

  /* menu binnenkant: talen */
  header nav:last-of-type section section {
      display: flex;
      justify-content: right;
  }
  
  /* menu sluiten */
  header nav:last-of-type > section:last-of-type {
      position: fixed;
      display: flex;
      justify-content: right;
  }

  /* bron hr: https://www.w3schools.com/howto/howto_css_style_hr.asp */
hr {
	border-top: solid #f0f0f0 0em;
	margin: 0em;
}

footer > section:first-of-type {
    background-color: var(--color-footerbackground);
}

footer > section:nth-of-type(2) {
    background-color: var(--color-footerbackground);
    background-color: var(--color-primary);
}

/* footer lijst buitenkant */
footer > section:first-of-type summary {
	font-size: 16px;
	text-transform: uppercase;
	font-family: hind, sans-serif;
    color: var(--color-heading);
	padding-top: 12px;
    padding-right: 20px;
	padding-left: 25px;
    border-bottom: 1px solid #e9e7e7;
	line-height: 2px;
    font-weight: 500;
	background-color: var(--color-footerbackground);
    background-color: var(--color-theme);
    color: var(--color-primary);
}

/* footer lijst binnenkant */
details > summary {
	list-style: none;
}

details > summary {
	display:flex;
	justify-content:space-between;
	align-items:center;
}

details > summary::after {
	content:"+";
	display: grid;
	place-items: center;
	width: 1em;
	line-height: 4em;
	transition: .5s;
	color: var(--color-paragraph);
}

details > summary:hover {
	cursor: pointer;
}

details[open] > summary::after {
	content:"-";
}

/* waarom is deze nodig ? */
details summary::-webkit-details-marker {
	display:none;
}

/* footer lijst binnenkant, klikken op plusje */
/* -1em gebruikt bij margin, anders lukte het me niet... */
footer > section:first-of-type li {
	font-size: 14px;
	font-family: 'hind', sans-serif;
    font-weight: 300;
	color: var(--color-footerli);
	background-color: var(--color-footerbackground);
    list-style: none;
    line-height: 2em;
    margin-left: -1em;
}

/* footer lijst binnenkant, klikken op plusje, laatste */
footer > section:first-of-type p {
	font-size: 14px;
    font-weight: 300;
	color: var(--color-paragraph);
    background-color: var(--color-footerbackground);
    font-family: 'hind', sans-serif;
    margin-left: 1.5em;
}

/* footer lijst binnenkant, klikken op plusje,laatste, e-mail */
footer form {
    display: flex;
    justify-content: center;
    padding: 8px;
}

/* footer lijst binnenkant, klikken op plusje, laatste, e-mail binnenkant */
footer input[type="search"] {
	border: none;
    text-indent: 0.6em;
	font-size: 16px;
    font-family: 'hind', sans-serif;
    font-weight: 300;
	padding: 8px;
    color: var(--color-paragraph);
    border-radius: 0.5em;
    width: calc(100% - 1.5em);
}

/* footer lijst binnenkant aanmelden*/
footer button {
    color: white;
	background-color: var(--color-filterbutton);
    border: none;
    border-radius: 0.5em;
    padding: 8px;
    display: block;
	margin-left: auto;
	margin-right: auto;
    width: calc(100% - 3.5em);
    text-transform: uppercase;
    font-family: 'hind', sans-serif;
    font-size: 12.5px;
}

/* social media iconen */
footer > section:nth-of-type(2) img {
	width: 1.1em;
	padding-top: 2em;
	padding-bottom: 4em;
	margin-left: 1em;
}

/* rechten */
footer > section:nth-of-type(3) img {
	width: 0.8em;
	margin-left: 30px;
}

footer > section:nth-of-type(3) p {
	display: inline-block;
	color: var(--color-paragraph);
	font-size: 14px;
	padding-bottom: 0.4em;
    font-weight: 100;
}

/* betaalmogelijkheden */
footer > section:nth-of-type(4) img {
	width: 18.5em;
	padding-bottom: 1.8em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* back to top */
footer > section:last-of-type img {
	width: 1.2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer > section:last-of-type p {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 12px;
	color: var(--color-heading);
	padding-bottom: 2.2em;
	margin: 0.4em;
	font-weight: 500;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */